*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
    background-image: url(./images/close-shot-of-palm-tree-leaf-with-white-surface.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: lightgrey;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

div{
    background-color: hsla(27, 80%, 72%, 0.897); 
    background-position: center center;
    border-radius: 10px;
    padding: 50px;
    max-width: 700px;
    max-height: 350px;
 
}

h1{
    color:hsl(30, 3%, 28%);
    font-size: 4rem;
    letter-spacing: 0.3rem;
}

p{
    font-size: 18px;
    color:hsl(30, 3%, 28%);
    line-height: 1.5rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

form {
    height: 40px;
    width: 100%;
    margin: 0 auto;
}

input{
    display: inline-block;
    width: 250px;
    height: 100%;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    outline: none;
    border-radius: 10px;
}

button{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color:hsl(0, 0%, 100%);
    background-color:hsl(30, 3%, 28%);
    height: 100%;
    border: none;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    border-radius: 10px;
}

button:hover {
    background-color:hsla(24, 3%, 28%, 0.822);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.author { 
    font-size: 11px; 
}

.author a { 
    color: hsl(27, 81%, 72%); 
}

@media (max-width:600px){
    div{
        max-width: 300px;
        max-height: 400px;
        padding: 25px;
    }
    h1{
        font-size: 3rem;
    }
    p{
        font-size: 16px;
        margin-bottom: 0;
    }
    form{
        height: 30px;
        margin-top: 10px;
        margin-bottom: 20px;

    }
    input{
        font-size: 12px;
        width: 200px;
        height: 100%;
        border-radius: 0;
    }
   button{
        font-size: 12px;
        height: 100%;
        width: 200px;
        border-radius: 0;
   }
}
